name: CI - Teste com erro

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # BACKEND
      - name: Setup Node.js (backend)
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: "backend/package-lock.json"

      - name: Install backend deps
        working-directory: ./backend
        run: npm install

      # FRONTEND
      - name: Setup Node.js (frontend)
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: "frontend/package-lock.json"

      - name: Install frontend deps and build
        working-directory: ./frontend
        run: |
          npm install
          npm run build
